.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10rem 5rem 0 5rem;
    min-height: 100svh;
    /* top>left>bottom>right */
    background-color: var(--marfin);
}

.textSection {
    min-width: 30rem;
    max-width: 40rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    color: var(--texto);
}

.textSection>h1 {
    font-size: 5rem;
    color: var(--marfin);
}

.bloco2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bloco2>h2 {
    background-color: var(--marfin);
    padding: 1rem;
    border-radius: var(--borderRadius);
}

.imageSection {
    position: relative;
    width: 50%;
    min-width: 30rem;
}

.quemSomos {

    object-fit: contain;
}