.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
    width: 100%;

}

.top {
    display: flex;
    min-height: 30rem;

}

.imgContainer {
    width: 100%;
    height: 40rem;
    position: relative;
}

.img {
    border-radius: var(--borderRadius);
    object-fit: cover;
}

.date {
    position: absolute;
    background-color: var(--marfin);
    padding: .5rem;
    color: var(--texto);
    border-radius: var(--borderRadius);
    font-size: 1.2rem;
    font-weight: 600;
}
.title{
    width: 90%;
    font-size: 2.4rem;
    margin-bottom: 2rem;

}
.desc{
    width: 90%;
    margin-bottom: 2rem;
    font-weight: 300;
    color: var(--cinzaCLaro);

}
.link{
    text-decoration: underline;
}