:root {
  --bg: #4B5940;
  --texto: #363636;
  --verdePrimario: #7A8C68;
  --verdeSecundario: #4B5940;
  --amarelo: #f2b650;
  --branco: #FFFFF0;
  --marfin: #F2F2F2;
  --cinzaClaro: #8F8E8E;
  --cinzaEscuro: #363636;
  --sombra: #3636363a;
  --borderRadius: .5rem;
  /*d9d9d9*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 62.5% de 16px(tamanho de fonte dos browsers) é 10px */
  font-size: 62.5%;
}

body {
  /* 1.6 * 10px = 16px */
  position: relative;
  font-size: 1.6rem;
  background-color: #343d2c;
  color: var(--branco);
  /* background-image: url(../../public/background.webp); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* @media (max-width:1536px) {
  .main {
    width: 1366px;
  }
}

@media (max-width:1366px) {
  .main {
    width: 1280px;
  }
}

@media (max-width:1280px) {
  .main {
    padding: 0 2rem 0 2rem;
    width: 1024px;
  }
}

@media (max-width:1024px) {
  .main {
    width: 768px;
  }
}

@media (max-width:768px) {
  .main {
    width: 640px;
  }
}

@media (max-width:640px) {
  .main {
    width: 475px;
  }
} */