:root {
  --bg: #4B5940;
  --texto: #363636;
  --verdePrimario: #7A8C68;
  --verdeSecundario: #4B5940;
  --branco: #FFFFF0;
  --marfin: #F2F2F2;
  --cinzaClaro: #8F8E8E;
  --cinzaEscuro: #363636;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  color: var(--branco);
}

a {
  text-decoration: none;
  color: inherit;
}