.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    gap: 2rem;
    /* top>left>bottom>right */
    padding: 15rem 5rem 2rem 5rem;
    min-height: 100svh;
    margin-bottom: 5rem;
    background-color: red;
}