.section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    gap: 2rem;
    justify-content: space-between;
    /* top>left>bottom>right */
    padding: 5rem 5rem 2rem 5rem;
    margin-top: 15rem;
    min-height: 100svh;
    background-color: #131711;
    margin-bottom: 5rem;
    border-radius: var(--borderRadius);

}

.post {
    width: 30%;
    border: solid .1rem var(--marfin);
    padding: 1rem;
    border-radius: var(--borderRadius);
}

@media screen and (max-width:1280px) {
    .post {
        width: 45%;
    }
}

@media screen and (max-width:768px) {
    .post {
        width: 100%;
    }
}