.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: calc(100svh - 10.5rem);
    height: 100%;
    width: 100%;
    border: solid .1rem white;
    border-radius: var(--borderRadius);
    padding: 2rem;
    gap: 2rem;
}
.section > h2 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

